.bill_wrapper {
	width: 30vw;
	height: 70vh;
	background-color: white;
	display: flex;
	flex-direction: column;
}
.passenger_wrapper {
	display: block;
	overflow-y: scroll;
	height: 70%;
}
.passenger {
	padding: 1em 0 1em 2em;
	width: 100%;
	display: flex;
	flex-direction: column;
	border-bottom: 2px solid grey;
}
